.about {
  @include section-style($bgcolor: $dark-color, $color: #ffffff);
  top: -40px;
  z-index: 6;
  padding-top: 44px;
  padding-bottom: 64px;
  background-image: url("../img/about-mobile@1x.png");
}
