.hero {
  position: relative;
  padding-top: 11px;
  color: #ffffff;
}

.hero__lead {
  display: block;
  padding: 0 5px;
  margin-bottom: 265px;
  font-size: 36px;
  line-height: 40px;
  text-align: center;
}
