.site-header {
  @include rounded-bottom(20px);
  background:
    url("../img/traveller-illustration-mobile@1x.png") no-repeat 79px 223px,
    url("../img/globe-back-mobile@1x.jpg") no-repeat top left / cover;
}

.site-header__top {
  padding-top: 27px;
  padding-bottom: 27px;

  &--expanded {
    background-color: #ffffff;
  }
}

.site-header__menu-toggle {
  width: 19px;
  height: 19px;
  font-size: 0;
  vertical-align: middle;
}

.site-header__page-name {
  position: relative;
  display: inline-block;
  margin-bottom: 10px;
  font-size: 36px;
  line-height: 40px;
  color: #ffffff;

  &::after {
    position: absolute;
    top: calc(100% + 7px);
    left: 0;
    right: 0;
    height: 5px;
    border-radius: 2.5px;
    background-color: #ff8d30;
    content: "";
  }
}
