.testimonial {
  margin: 0;
  padding-top: 47px;
  padding-bottom: 110px;
  background-color: #0e1532;
}

.testimonial__text {
  padding: 0 24px;
  margin-top: 0;
  margin-bottom: 19px;
  font-weight: 300;
}

.testimonial__author {
  padding: 0 24px;
  margin: 0;
}
